body {
  font-size: 16px;
  color: #CED0CE;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.title {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 4em;
  padding: auto;
  padding-top: 8%;
  margin: 1.5%;
}

.bg-hallow {
  /* background-color: #CED0CE; */
  /* opacity: 0.5; */
}

.card {
  /* card will be the card the questions show up on. */
  width: 70%;
  display: flex;
  justify-content: center;
  /* align-content: center; */
  /* align-items: center; */
  background-color: rgba(58, 64, 90, 0.8);
  /* background-color: blueviolet; */
}

#start-button button {
  margin: 5% auto;
  padding: 10px 50px;
  /* font-weight: bold; */
  font-size: 18px;
  border-radius: 40px;
}

/*  */

.set {
  padding: 1%;
  margin: auto;
}

/*  */

.game-card {
  margin: 5% auto;
  /* height: ; */
  padding: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.setAns {
  width: 100%;
  text-align: center;
  padding: 10px 5px;
  margin: auto;
}

.setAns:hover {
  border: 2px solid #ccc;
}